<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015670076791-enek9fgrfach7jfung8iqtcqc85l1qda.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015670076791-enek9fgrfach7jfung8iqtcqc85l1qda</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1015670076791-2deptqrctk17ei624nrn7ta59lphpmmv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD75u8Xv2O9iOSzf4MNLQRHP5Sn78meg6E</string>
	<key>GCM_SENDER_ID</key>
	<string>1015670076791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.expoepi</string>
	<key>PROJECT_ID</key>
	<string>expoepi-31165</string>
	<key>STORAGE_BUCKET</key>
	<string>expoepi-31165.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015670076791:ios:a4a2a9ee9abcc070315d72</string>
</dict>
</plist>